@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
}

header div{
    height: 20px;
    background-color: #3957f1;
    width: 100%;
}

.img{
    width: 5%;

}

nav{
    margin-top: 8px;
    font-size: 18pt;
    margin-bottom: 30px;
    padding: 30px;
    
}

nav a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #04146c;
    margin: 20px;
}

a:active{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;    
}

main{
    text-align: center;
    width: 100%;
}

section{
    margin: 80px;
}

h1{
    font-size: 72pt;
    color: #0a2ff1;
    font-family: 'Roboto Slab', serif;
}

p{
    font-size: 26pt;
    color: #04146c;
    font-family: 'Roboto', sans-serif;
}

img{
    width: 100%;
}

.title{
    font-size: 34pt;
    color:#0a2ff1;
    font-family: 'Roboto Slab', serif;
}

article{
    margin: 20px;
}

h2{
    font-size: 18pt;
    color: #04146c;
    font-family: 'Roboto', sans-serif;
    justify-content: left;
}

article p{
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
}

.dos{
    text-align: start;
    width: 70%;
}

footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 90px;
    background-color: #3957f1;
}

.img3{
    position: relative;
    width: 600px;
    margin-left: 50%;
    margin-bottom: -50px;

}
.img2{
    width: 120px;
}